@import url("https://fonts.googleapis.com/css2?family=Anton&family=David+Libre:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=David+Libre:wght@400;500;700&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
/*navigation bar*/

.navbar {
  font-family: "David Libre", serif;
  font-size: 20px;
  background-color: black;
}
.navbar a {
  color: white;
  text-decoration: none;
  font-weight: normal;
}

.nav-contents ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-contents li {
  display: inline;
  margin-right: 10px;
}
.nav-contents a {
  color: white;
  text-decoration: none;
  font-weight: 300;
}

.nav-contents a:hover {
  color: rgb(255, 0, 55);
}

.nav-contents .active {
  color: rgb(141, 253, 244);
}
/*content*/

/*file2.html*/

body {
  background-image: url("../images/backgroundimg2.jpg");
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background: #262626; */
}

/* form css */

.content-main {
  display: flex;
}
form {
  background-color: white;
  margin: 40px 30px;
  margin-right: 0px;
  padding: 20px 10px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 3px #888888;
  -webkit-box-shadow: 0 0 3px #888888;
  box-shadow: 0 0 3px #888888;
  font-family: "EB Garamond", serif;
  font-weight: 500;
  font-size: 20px;
  float: left;
  width: 50%;
}
label {
  color: black;
  width: 15%;
}
input {
  margin-right: 10px;
}
.form-horizontal {
  color: aliceblue;
}
.form-group {
  display: flex;
  margin: 20px 20px;
}
#phone {
  top: 10px;
}

.btn {
  text-align: center;
  padding: 5px 20px;
  border-radius: 5px;
}
.submitBtn {
  display: flex;
  text-align: center;
  padding-left: 200px;
}

.rightDiv {
  float: right;
  width: 50%;
  margin: 40px 30px;
  margin-left: 0px;
  background-color: white;
  padding: 20px 50px;
  font-family: "EB Garamond", serif;
  font-weight: 500;
  font-size: 20px;
  opacity: 0.8;
}
.research {
  width: 100%;
  margin: 20px 0;
  border: 1px solid #ced4da;
}
textarea {
  resize: none;
}
