.navbar{
    background-color: #f8ceec;
background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);

}
body{
    margin: 0;
    padding:0;
    font-family:sans-serif;
    background: #262626;
}
.center
{
    width: 25%;
    position: absolute;
    top:40%;
    left: 20%;
    transform: translate(-50%,-50%);
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}
h2{
    margin: 0;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
}
.skillbox 
{
    box-sizing: border-box;
    width: 100%;
    margin: 10 px 0;
}
.skillbox p
{
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 10px;
    padding: 0;
    padding-top: 10px;
    font-weight: normal;
    letter-spacing: 1px;
}

.skillbox p:nth-child(2)
{
    float:right;
    position: relative;
    top:-35px;
}
.skill
{
      background: #262626;
      padding: 1px;
      box-sizing: border-box;  
      border: 0.05px solid  #0fffb7;
      
}
.skill-level
{
    background: #0fffb7;
    width:100%;
    height: 5px;
}
.form-horizontal
{
    color: aliceblue;
}
.btn
{
    color: rgb(2, 36, 66);
    background: #f8ceec;
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);

}





