@import url("https://fonts.googleapis.com/css2?family=Anton&family=David+Libre:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=David+Libre:wght@400;500;700&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
/*navigation bar*/

.navbar {
  font-family: "David Libre", serif;
  font-size: 20px;
  background-color: black;
}
.navbar a {
  color: white;
  text-decoration: none;
  font-weight: normal;
}
.nav-contents ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-contents li {
  display: inline;
  margin-right: 10px;
}
.nav-contents a {
  color: white;
  text-decoration: none;
  font-weight: 300;
}

.nav-contents a:hover {
  color: rgb(255, 0, 55);
}

/*content*/

/*file2.html*/

body {
  background-color: #262626;
  
  }
.center {
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.5);;
  width: 25%;
  position: absolute;
  top: 40%;
  left: 20%;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

h2 {
  margin: 0;
  padding-left:12%;
  padding-bottom: 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: normal;
}
.skillbox {
  box-sizing: border-box;
  width: 100%;
  margin: 10 px 0;
}
.skillbox p {
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 10px;
  padding: 0;
  padding-top: 10px;
  font-weight: normal;
  letter-spacing: 1px;
}

.skillbox p:nth-child(2) {
  float: right;
  position: relative;
  top: -35px;
}
.skill {
  background: #262626;
  padding: 1px;
  box-sizing: border-box;
  border: 0.05px solid #0fffb7;
}
.skill-level {
  background: #0fffb7;
  width: 100%;
  height: 5px;
}
/*bargraph*/
.box
{
  padding: 50px;
  box-sizing: border-box;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  position: absolute;
  margin-top: 50px;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 25%;
  height: 390px;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  display: flex;
}
.box .skill
{
  position: relative;
  flex-grow: 2;
  text-align: center;
}
.box .skill .graph
 {
  position: absolute;
  width: 33px;
  bottom: 0;
  left: 48%;
  transform: translateX(-50%);
  background: #0fffb7;
}
.box .skill .graph .percent
{
  position: absolute;
  top: 0;
  left: 50%;
  font-size: 14px;
  transform: translateX(-50%);
  text-align: center;
}
.box .skill .name{
  position: absolute;
  top: 290px;
  left: 50%;
  font-size: 14px;
  color: white;
  transform: translateX(-50%);
  text-align: center;
} 
.piechart { 
  top: 23%; 
  display: block; 
  position: absolute; 
  width: 50%; 
  height: 50%; 

  border-radius: 50%; 
  background-image: conic-gradient( 
      pink 70deg,  
      lightblue 0 235deg,  
      orange 0); 
} 
.pie-chart{
  margin-top: 50px;
  background-color:rgba(0, 0, 0, 0.5);;
  width: 25%;
  position: absolute;
  top: 40%;
  height:390px;
  transform: translate(270%, -50%);
  padding: 100px;
  box-sizing: border-box;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); 
}